/*
Colors used:
Primary Color (Pastel Purple): #a17dd0;
Secondary Color (Pastel Pink): #ffd8ef;
Accent (Pastel Yellow): #fff599;
Neutral (White): #ffffff;
*/
header {
  background-color: #a17dd0;
  text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
    background-color: white; /*white background*/
    color: black; /*black text*/
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

footer {
  background-color: #a17dd0;
  display: inline-block;
  width: 100%;
}
footer h2 {
  text-align: center;
  color: #fff599;
}
footer p {
  text-align: center;
}

#svg-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Media Queries */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #hero span {
    text-align: center;
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px
  }

  #about-page h3 { 
    margin-top: 0;
  }
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/*applying Crimson Text to headings*/

h1, h2, h3, h4 {
    font-family: "Crimson Text", serif;
    color: #a17dd0;
    line-height: 1.4;
    font-weight: 700;
  }
  h1 {
    font-size: 2.75em;
  }
  
  h2 {
    font-size: 2.25em;
  }
  
  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.35em;
  }

  img {
    width: 100%;
  }
  
a {
  color: #fff599;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #ffd8ef;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #fff599;
}
a:active { /* selected link */
  color: #ffd8ef;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #a17dd0;
  color: #fff599; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: none; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover,
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
a[href="olive.html"] {
  color: #fff599; /* needed to override the default link color */
}
a[href="#"] {
  color: #fff599; /* needed to override the default link color */
}

.button.contact {
  background-color: transparent;
  color: #fff599;
  text-transform: uppercase;
  border: 2px solid #fff599;
  display: block;
  text-align: center;
  align-items: center;
}
.button.contact:hover,
.button.contact:active {
  background-color: #fff599;
  color: #a17dd0;
}

.button.cv {
  background-color: transparent;
  color: #a17dd0;
  text-transform: uppercase;
  border: 2px solid #a17dd0;
}
.button.cv:hover,
.button.cv:active {
  background-color: #a17dd0;
  color: #fff599;
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Header styling */
.logo {
  max-width: 250px;
}

.navigation {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
}

/* Index page styling */
#hero {
  background-color: #ffd8ef;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
} 

#hero h1 {
  text-align: center;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { 
  padding-bottom: 25px; 
  border-bottom: 1px solid #4a4a4a; 
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

/* About page styling */
#about-heading h1 {
  text-align: center;
}

#about-info .row {
  padding-bottom: 25px; 
  border-bottom: 1px solid #4a4a4a; 
}

/*Icons for Footer*/
#social-media-icons {
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#social-media-icons a {
  margin: 0 10px;
}

#social-media-icons img {
  width: 32px;
  height: 32px;
}

/* Vector Styling */

  @keyframes dot-move {
    from {transform: translate(0,50px);}
    to {transform: translate(50px,0px);}
  }

  .computer-dot {
    animation-duration: 10s;
    animation-name: dot-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-play-state: running;
  }
  

