/*
Colors used:
Primary Color (Pastel Purple): #a17dd0;
Secondary Color (Pastel Pink): #ffd8ef;
Accent (Pastel Yellow): #fff599;
Neutral (White): #ffffff;
*/

body {
    background-color: white; /*white background*/
    color: black; /*black text*/
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

/*applying Crimson Text to headings*/

h1, h2, h3, h4 {
    font-family: "Crimson Text", serif;
    color: #a17dd0;
    line-height: 1.4;
    font-weight: 700;
  }
  h1 {
    font-size: 2.75em;
  }
  
  h2 {
    font-size: 2.25em;
  }
  
  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.35em;
  }

  img {
    width: 100%;
  }
  
a {
  color: #a17dd0;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #fff599;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #a17dd0;
}
a:active { /* selected link */
  color: #ffd8ef;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #a17dd0;
  color: #fff599; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: none; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover,
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
a[href="olive.html"] {
  color: #fff599; /* needed to override the default link color */
}
a[href="#"] {
  color: #fff599; /* needed to override the default link color */
}

.button.contact {
  background-color: transparent;
  color: #a17dd0;
  text-transform: uppercase;
  border: 2px solid #a17dd0;
}
.button.contact:hover,
.button.contact:active {
  background-color: #a17dd0;
  color: #fff599;
}

.button.cv {
  background-color: transparent;
  color: #a17dd0;
  text-transform: uppercase;
  border: 2px solid #a17dd0;
}
.button.cv:hover,
.button.cv:active {
  background-color: #a17dd0;
  color: #fff599;
}
